<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-resource.js"></script>
    <script src="js/script.js"></script>
    <script src="js/studentService.js"></script>
</head>
<body data-ng-app="studentWebsite">
    <section data-ng-controller="studentController">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <h3 class="navbar-brand">Student Website</h3>
                    </a>
                </div>
                <button type="button" class="btn btn-default navbar-btn" id="Login">Login</button>
                <button type="button" class="btn btn-default navbar-btn" id="Register">Register</button>
                <button type="button" class="btn btn-default navbar-btn" id="Option">Options</button>
            </div>
        </nav>

        <!-- LOGIN -->
        <!--<div data-ng-include="'PartialViews/Login.html'"></div>-->
        <div class="col-md-offset-4 col-md-4" id="LoginContent">
            <h1 class="center-block">Log In</h1>
            <form>
                <div class="input-group center-block">
                    <input type="text" class="form-control"ng-model="login.username"  placeholder="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <input type="text" class="form-control" ng-model="login.password" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <button type="button" class="btn btn-default center-block" ng-click="logInUser()">Log In</button>
                </div>
            </form>
        </div>

        <!-- REGISTER-->
        <!--<div data-ng-include="'PartialViews/Register.html'"></div>-->

        <div class="hide col-md-offset-4 col-md-4" id="RegisterContent">
            <h1 class="center-block">Register</h1>
            <form>
                <div class="input-group center-block">
                    <input type="text" class="form-control" ng-model="register.username" placeholder="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <input type="text" class="form-control" ng-model="register.email" placeholder="Email" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <input type="text" class="form-control" ng-model="register.password" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <input type="text" class="form-control" ng-model="register.passwordConfirm" placeholder="Confirm Password" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <button type="button" class="btn btn-default center-block" ng-click="register()">Register</button>
                </div>
            </form>
        </div>
        <!-- Choice -->
        <div data-ng-include="'PartialViews/Choice.html'"></div>
    </section>
</body>
</html>

<script>
    $(document).ready(function () {
        $("#Login").click(function () {
            $('#LoginContent').removeClass('hide');
            $('#RegisterContent').addClass('hide');
            $('#OptionContent').addClass('hide');
        });

        $("#Register").click(function () {
            $('#RegisterContent').removeClass('hide');
            $('#LoginContent').addClass('hide');
            $('#OptionContent').addClass('hide');
        });

        $("#Option").click(function () {
            $('#OptionContent').removeClass('hide');
            $('#LoginContent').addClass('hide');
            $('#RegisterContent').addClass('hide');
        });
    });
</script>

<style>
    #LoginContent {
        margin-top: 5vh;
    }

    #RegisterContent{
        margin-top: 5vh;
    }

    .input-group{
        padding-top:30px;
        padding-bottom:30px;
    }

    .navbar-brand{
        padding: 0px 15px;
    }
</style>