<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-resource.js"></script>
    <script src="js/script.js"></script>
    <script src="js/studentService.js"></script>
</head>
<body data-ng-app="studentWebsite">
    <section data-ng-controller="studentController">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <h3 class="navbar-brand">Student Website</h3>
                    </a>
                </div>
                <button type="button" class="btn btn-default navbar-btn" id="Login">Login</button>
                <button type="button" class="btn btn-default navbar-btn" id="Register">Register</button>
                <button type="button" class="btn btn-default navbar-btn" id="Option" ng-click="populateOption()">Options</button>
            </div>
        </nav>

        <!-- LOGIN -->
        <!--<div data-ng-include="'PartialViews/Login.html'"></div>-->
        <div class="col-md-offset-4 col-md-4" id="LoginContent">
            <h1 class="center-block">Log In</h1>
            <form>
                <div class="input-group center-block">
                    <input type="text" class="form-control"ng-model="login.username"  placeholder="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <input type="text" class="form-control" ng-model="login.password" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <button type="button" class="btn btn-default center-block" ng-click="logInUser()">Log In</button>
                </div>
            </form>
        </div>

        <!-- REGISTER-->
        <!--<div data-ng-include="'PartialViews/Register.html'"></div>-->

        <div class="hide col-md-offset-4 col-md-4" id="RegisterContent">
            <h1 class="center-block">Register</h1>
            <form>
                <div class="input-group center-block">
                    <input type="text" class="form-control" ng-model="register.username" placeholder="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <input type="text" class="form-control" ng-model="register.email" placeholder="Email" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <input type="text" class="form-control" ng-model="register.password" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <input type="text" class="form-control" ng-model="register.passwordConfirm" placeholder="Confirm Password" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <button type="button" class="btn btn-default center-block" ng-click="register()">Register</button>
                </div>
            </form>
        </div>
        <!-- Choice -->
        <!--<div data-ng-include="'PartialViews/Choice.html'"></div> -->

        <div class="hide col-md-offset-4 col-md-4" id="OptionContent">
            <h1 class="center-block">Choice</h1>
            <p class="hide" id="idForYearTerm"></p>
            <form>
                <div class="input-group center-block">
                    <input type="text" id="optionYearTerm" readonly="readonly" class="form-control" ng-model="option.yearTermId" placeholder="YearTermID" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <input type="text" id="optionStudentId" class="form-control" ng-model="option.studentId" placeholder="Student ID" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <input type="text" id="optionFirstName" class="form-control" ng-model="option.firstName" placeholder="First Name" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <input type="text" id="optionLastName" class="form-control" ng-model="option.lastName" placeholder="Last Name" aria-describedby="basic-addon1">
                </div>
                <div class="input-group center-block">
                    <!--<input type="text" id="optionFirstChoice" class="form-control optionChoice" ng-model="option.firstChoiceOption" placeholder="First Choice Option" aria-describedby="basic-addon1">-->
                    <h6>First Option</h6>
                    <select id="firstOption">
                        <option ng-repeat="item in firstOptionChoices" value="{{item.value}}">{{item.title}}</option>
                    </select>
                </div>
                <div class="input-group center-block">
                    
                    <!--<input type="text" id="optionSecondChoice" class="form-control optionChoice" ng-model="option.secondChoiceOption" placeholder="Second Choice Option" aria-describedby="basic-addon1">-->
                    <h6>Second Option</h6>
                    <select id="secondOption">
                        <option ng-repeat="item in secondOptionChoices" value="{{item.value}}">{{item.title}}</option>
                    </select>
                </div>
                <div class="input-group center-block">
                    <!--<input type="text"  id="optionThirdChoice" class="form-control optionChoice" ng-model="option.thirdChoiceOption" placeholder="Third Choice Option" aria-describedby="basic-addon1">-->
                    <h6>Third Option</h6>
                    <select id="thirdOption">
                        <option ng-repeat="item in thirdOptionChoices" value="{{item.value}}">{{item.title}}</option>
                    </select>
                </div>
                <div class="input-group center-block">
                    <!--<input type="text"  id="optionFourthChoice" class="form-control optionChoice" ng-model="option.fourthChoiceOption" placeholder="Fourth Choice Option" aria-describedby="basic-addon1">-->
                    <h6>Fourth Option</h6>
                    <select id="fourthOption">
                        <option ng-repeat="item in fourthOptionChoices" value="{{item.value}}">{{item.title}}</option>
                    </select>
                </div>
                <div class="input-group center-block">
                    <button type="button" class="btn btn-default center-block" ng-click="pickChoice()">Register</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>

<script>
    $(document).ready(function () {
        $("#Login").click(function () {
            $('#LoginContent').removeClass('hide');
            $('#RegisterContent').addClass('hide');
            $('#OptionContent').addClass('hide');
        });

        $("#Register").click(function () {
            $('#RegisterContent').removeClass('hide');
            $('#LoginContent').addClass('hide');
            $('#OptionContent').addClass('hide');
        });

        $("#Option").click(function () {
            $('#OptionContent').removeClass('hide');
            $('#LoginContent').addClass('hide');
            $('#RegisterContent').addClass('hide');
        });

        
    });
</script>

<style>
    #LoginContent {
        margin-top: 5vh;
    }

    #RegisterContent{
        margin-top: 5vh;
    }

    .input-group{
        padding-top:30px;
        padding-bottom:30px;
    }

    .navbar-brand{
        padding: 0px 15px;
    }
</style>