@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Choose Your Option</h1>
    <p class="lead">As you prepare to enter your second year, you must choose the priority of options you would like to make it into.</p>
</div>