@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Choose Your Option</h1>
    <p class="lead">As you prepare to enter your second year, you must choose the priority of options you would like to make it into.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            If you have not registered for the option choice site, click the link below!
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
    </div>
    
    <div class="col-md-4">
        <h2>Login</h2>
        <p>If you have already registered an account, click the link below to login.</p>
        <p>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    </div>

    <div class="col-md-4">
        <h2>Pick Your Choice</h2>
        <p>If you're a student you can picke your choices with the link below.</p>
        <p>@Html.ActionLink("Choices", "Index", "Choices")</p>
    </div>
</div>