@model IEnumerable<DiplomaDataModel.Option.Choice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script>
    $.support.cors = true;
    var d, opdata, termdata;
    var count = 0;
    var firstChoiceArray = [];
    var secondChoiceArray =[];
    var thirdChoiceArray = [];
    var fourthChoiceArray =[];
    var parsedOptionsArray = [];
    var termArray = {};
    var optionMap = {};


    $.ajax({
        url: "http://a2b.johnnymarin.com/api/choices"
    }).done(function (data) {
        d = jQuery.parseJSON(data["choiceData"]);
        opdata = jQuery.parseJSON(data["optionData"]);
        termdata = jQuery.parseJSON(data["termData"]);

        $.each(termdata, function (index, value) {
            var termName = "";
            switch(termdata[index]["Term"]) {
                case 10:
                    termName = "Winter";
                    break;
                case 20:
                    termName = "Spring/Summer";
                    break;
                case 30:
                    termName = "Fall";
                    break;
            }
            if (termdata[index]["YearTermId"] == index + 1) {
                termArray[termdata[index]["YearTermId"]] = termdata[index]["Year"] + " " + termName;
            }
        })

        $.each(opdata, function (index, value) {
            
            optionMap[opdata[index]["OptionId"]] = opdata[index]["Title"];
            
        })


        console.log(optionMap);


        $.each(opdata, function (index, value) {
            firstChoiceArray.push(0);
            secondChoiceArray.push(0);
            thirdChoiceArray.push(0);
            fourthChoiceArray.push(0);

        })



        var count = 0;
        $("#dataChart1").addClass("hide");
        $("#dataChart2").addClass("hide");
        $("#dataChart3").addClass("hide");
        $("#dataChart4").addClass("hide");


        var value = $('#termDrop').find(":selected").val();
       
        console.log($('#termDrop').find(":selected").val());

        generateTableFunction();

        var x = $("#termDrop").find(":selected").val();

        $.each(d, function (index, value) {
            if (value["YearTermId"] == x) {

                firstChoiceArray[value["FirstChoiceOptionId"] - 1]++;
                secondChoiceArray[value["SecondChoiceOptionId"] - 1]++;
                thirdChoiceArray[value["ThirdChoiceOptionId"] - 1]++;
                fourthChoiceArray[value["FourthChoiceOptionId"] - 1]++;

            }
        })
       
        var optionsChartArray = [];
        $.each(opdata, function (index, value) {
            optionsChartArray.push("{ \"name\": \"" + opdata[index]["Title"] + "\", \"y\": \"thingsArray[" + index + "]\" }");
        })
        $.each(optionsChartArray, function (index, value) {
            var z = jQuery.parseJSON(value);
            parsedOptionsArray.push(z);
        })




        $("#termDrop").on("change", function (data) {
            var x = $("#termDrop").find(":selected").val();
            $.each(opdata, function (index, value) {
                firstChoiceArray[index] = 0;
                secondChoiceArray[index] = 0;
                thirdChoiceArray[index] = 0;
                fourthChoiceArray[index] = 0;

            })
            deleteTableFunction();
            generateTableFunction();

            $.each(d, function (index, value) {
                if (value["YearTermId"] == x) {

                    firstChoiceArray[value["FirstChoiceOptionId"] - 1]++;
                    secondChoiceArray[value["SecondChoiceOptionId"] - 1]++;
                    thirdChoiceArray[value["ThirdChoiceOptionId"] - 1]++;
                    fourthChoiceArray[value["FourthChoiceOptionId"] - 1]++;

                }
            })
           
            drawChart(firstChoiceArray, "#dataChart1", "First Choice Option", parsedOptionsArray);
            drawChart(secondChoiceArray, "#dataChart2", "Second Choice Option", parsedOptionsArray);
            drawChart(thirdChoiceArray, "#dataChart3", "Third Choice Option", parsedOptionsArray);
            drawChart(fourthChoiceArray, "#dataChart4", "Fourth Choice Option", parsedOptionsArray);


        })

    });
    


    

    //DOCUMENT READY
    $(document).ready(function () {
        

        $('#termDrop').change(function (data) {
           
            console.log("Load")
            deleteTableFunction();
            generateTableFunction();

        });





        $("#chartDrop").on("change", function (data) {
            var x = $("#chartDrop").find(":selected").val();
            deleteTableFunction();
            generateTableFunction();
            if (x == "Tables") {
                $("#ajaxTable").removeClass("hide");
                $("#dataChart1").addClass("hide");
                $("#dataChart2").addClass("hide");
                $("#dataChart3").addClass("hide");
                $("#dataChart4").addClass("hide");


            } else {
                $("#ajaxTable").addClass("hide");
                $("#dataChart1").removeClass("hide");
                $("#dataChart2").removeClass("hide");
                $("#dataChart3").removeClass("hide");
                $("#dataChart4").removeClass("hide");


                drawChart(firstChoiceArray, "#dataChart1", "First Choice Option", parsedOptionsArray);
                drawChart(secondChoiceArray, "#dataChart2", "Second Choice Option", parsedOptionsArray);
                drawChart(thirdChoiceArray, "#dataChart3", "Third Choice Option", parsedOptionsArray);
                drawChart(fourthChoiceArray, "#dataChart4", "Fourth Choice Option", parsedOptionsArray);

            }
        })
    });
    
</script>

@Html.DropDownList("validYearTerms", null, htmlAttributes: new { @class = "form-control" , @id = "termDrop"})
<br />
<select id="chartDrop" class="form-control">
    <option>Tables</option>
    <option>Charts</option>
</select>








<table id="ajaxTable" class="table">
    

</table>



<script>

    function generateTableHead() {
        var table = document.getElementById("ajaxTable");
        var header = table.createTHead();
        var row = header.insertRow(0);
        var cell = row.insertCell(0);
        for (var step = 0 ; step < 9 ; step++) {
            cell = row.insertCell(step);
            switch(step){
                case 0:
                    cell.innerHTML = "<b>Year / Semester</b>";
                    break;
                case 1:
                    cell.innerHTML = "<b>Student ID</b>";
                    break;
                case 2:
                    cell.innerHTML = "<b>Student First Name</b>";
                    break;
                case 3:
                    cell.innerHTML = "<b>Student Last Name</b>";
                    break;
                case 4:
                    cell.innerHTML = "<b>Title</b>";
                    break;
                case 5:
                    cell.innerHTML = "<b>Title</b>";
                    break;
                case 6:
                    cell.innerHTML = "<b>Title</b>";
                    break;
                case 7:
                    cell.innerHTML = "<b>Title</b>";
                    break;
                case 8:
                    cell.innerHTML = "";
                    break;
            }
        }
    }



    function generateTableFunction() {
        var table = document.getElementById("ajaxTable");
        var body = table.createTFoot();
        var row, cell;
        var rowCount = 0;
        generateTableHead();

        $.each(d, function (index, value) {
            if (d[index]["YearTermId"] == $('#termDrop').find(":selected").val()){
                row = body.insertRow(rowCount);
                for (var i = 0; i < 9 ; i++) {
                    cell = row.insertCell(i);
                    switch (i) {
                        case 0:
                            cell.innerHTML = termArray[$('#termDrop').find(":selected").val()];
                            break;
                        case 1:
                            cell.innerHTML = d[index]["StudentId"];
                            break;
                        case 2:
                            cell.innerHTML = d[index]["StudentFirstName"];
                            break;
                        case 3:
                            cell.innerHTML = d[index]["StudentLastName"];

                            break;
                        case 4:
                            cell.innerHTML = optionMap[d[index]["FirstChoiceOptionId"]];

                            break;
                        case 5:
                            cell.innerHTML = optionMap[d[index]["SecondChoiceOptionId"]];

                            break;
                        case 6:
                            cell.innerHTML = optionMap[d[index]["ThirdChoiceOptionId"]];

                            break;
                        case 7:
                            cell.innerHTML = optionMap[d[index]["FourthChoiceOptionId"]];

                            break;
                        case 8:
                            cell.innerHTML = "<a href='/Choices/Edit/" + d[index]["ChoiceId"] +
                                "'>Edit</a> | <a href='/Choices/Details/" + d[index]["ChoiceId"] +
                                "'>Details</a> |<a href='/Choices/Delete/" + d[index]["ChoiceId"] + "'>Delete</a>"

                            break;

                    }


                }
                rowCount++;
            }
        })

    }

    function deleteTableFunction() {
        document.getElementById("ajaxTable").deleteTFoot();
        document.getElementById("ajaxTable").deleteTHead();

    }
</script>



<script>


    var drawChart = function(thingsArray, divForThings, titleForCharts, sections){
       

        var pies = {
            slices:[]
        };        

        $.each(sections, function (index, value) {
            pies.slices.push({
                "name": sections[index]["name"],
                "y": thingsArray[index]
                });
        })


            $(divForThings).highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: titleForCharts
                },
                tooltip: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Choices',
                    colorByPoint: true,
                    data: pies.slices
                }]
            });
}

</script>








<div id="dataChart1" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="dataChart2" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="dataChart3" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="dataChart4" class="col-md-6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


